.mat-card-header{
  background-color:white !important;
  padding:10px 10px 10px 10px !important;
  font-size: 20px;
  text-align: center;
  align: center;
}

 .mat-card{
  background-color:lightgrey !important;
  padding:10 !important;
  font-color: black;
  color: black;
}

.mat-card-content{
  padding:10px !important;
}
